/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS Animations */

@keyframes "login" {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -120px;
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -180px;
    }
}
@-moz-keyframes login {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -120px;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -180px;
    }
}
@-webkit-keyframes "login" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -120px;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -180px;
    }
}
@-ms-keyframes "login" {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -120px;
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -180px;
    }
}
@-o-keyframes "login" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -120px;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -180px;
    }
}
@keyframes "login-social" {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -250px;
    }
}
@-moz-keyframes login-social {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -250px;
    }
}
@-webkit-keyframes "login-social" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -250px;
    }
}
@-ms-keyframes "login-social" {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -250px;
    }
}
@-o-keyframes "login-social" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-top: -250px;
    }
}
/* main css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
#container {
    height: 100%;
    width: 100%;
}
a {
    color: #00B7FF;
}
a:focus, a:hover {
    color: #00B7FF;
    text-decoration: none;
}
table {
    width: 100%;
}
.right {
    float: right
}
:focus {
    outline-color: transparent;
    outline-style: none;
}
#page-spinner {
    font-size: 50px;
    color: white;
    margin-top: -25px;
}
#login {
    width: 220px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -180px;
    text-align: center;
    -webkit-animation: login 1s ease-in-out;
    -moz-animation: login 1s ease-in-out;
    -ms-animation: login 1s ease-in-out;
    -o-animation: login 1s ease-in-out;
    animation: login 1s ease-in-out;
}
#login.social {
    margin-top: -250px;
    -webkit-animation: login-social 1s ease-in-out;
    -moz-animation: login-social 1s ease-in-out;
    -ms-animation: login-social 1s ease-in-out;
    -o-animation: login-social 1s ease-in-out;
    animation: login-social 1s ease-in-out;
}
#login h2 {
    margin-top: 5px;
    color: white;
    margin-bottom: 50px;
}
#login label {
    display: none;
}
.placeholder {
    color: #444;
}
#login input[type="text"], #login input[type="password"] {
    width: 100%;
    height: 40px;
    positon: relative;
    margin-top: 7px;
    font-size: 14px;
    color: #444;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    padding-left: 20px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    -webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
    box-shadow: inset 0px 2px 0px #d9d9d9;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#login input[type="text"]:focus, #login input[type="password"]:focus {
    -webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
    box-shadow: inset 0px 2px 0px #a7a7a7;
}
#login input:first-child {
    margin-top: 0px;
}
#login input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #5466da;
    background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #9ab1ec;
    cursor: pointer;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#login input[type="submit"]:hover {
    background-color: #5f73e9;
    background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    -webkit-box-shadow: inset 0px 1px 0px #aab9f4;
    box-shadow: inset 0px 1px 0px #aab9f4;
    /*margin-top: 10px;*/
}
#login input[type="submit"]:active {
    background-color: #7588e1;
    background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    -webkit-box-shadow: inset 0px 1px 0px #93a9e9;
    box-shadow: inset 0px 1px 0px #93a9e9;
}
#login .alert {
    margin-top: 45px;
}
#login.social .alert {
    margin-top: 10px;
}
.animate-hide {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    line-height: 20px;
    opacity: 1;
}
.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
}
.btn {
    cursor: pointer;
    outline: none !important;
}
.btn-circle {
    border-radius: 50px;
}
.full-page {
    background-color: #f7f7f7;
}
.full-page.show-inputs {
    top: 90px;
}
#options {
    padding: 0;
    padding-top: 55px;
}
.navbar-fixed-top {
    top: 10px;
    left: 10px;
    width: 330px;
    right: auto;
    background-color: #2e6da4;
}
.navbar-default .navbar-brand {
    padding: 7px;
}
.navbar-brand>img {
    height: 2em;
    float: left;
}
.navbar-brand>h4 {
    float: left;
    color: white;
    padding-left: 10px;
    font-size: 1.25em;
    margin-top: 5px;
}
#options accordion {
    width: 100%;
}
#options .panel {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
}
#options .panel-group .panel {
    border-radius: 0;
}
#options .panel-group .panel+.panel {
    margin-top: 0;
}
#options .panel-default>.panel-heading {
    cursor: pointer;
}
#options .panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
    text-decoration: none !important;
    outline: none !important;
    color: black;
}
#options .no-body .panel-collapse {
    display: none;
}
.page-section {
    padding: 13px 24px 0px;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}
.page-section .avatar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
}
.page-section .avatar img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}
.page-section .info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.page-section .info h4 {
    margin-bottom: 2px;
}
.page-section .info span {
    display: block;
    color: #777;
    font-size: 0.8em;
}
.page-section .info .btn {
    border-radius: 50%;
    margin: 10px 0;
    font-size: 20px;
}
.small-text {
    font-size: 0.9em;
}
#map-canvas {
    z-index: 0;
}
#map-canvas .centerMarker {
    position: absolute;
    /*url of the marker*/
    
    background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    
    top: 50%;
    left: 50%;
    z-index: 2;
    /*fix offset when needed*/
    
    margin-left: -10px;
    margin-top: -34px;
    /*size of the image*/
    
    height: 34px;
    width: 20px;
    z-index: 999;
    cursor: pointer;
}
#content-container {
    background-color: #efefef;
}
#content {
    z-index: 3;
    background: white;
    padding: 5px;
}
.input-action {
    position: absolute;
    z-index: 100;
    right: 0;
    background: white;
    padding: 0 5px;
    cursor: pointer;
}
.input-action.src {
    top: 9px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
    height: 23px;
    width: 23px;
    padding-top: 1px;
    margin: 0px 5px;
}
.input-action.dest {
    top: 46px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
    height: 23px;
    width: 23px;
    padding-top: 1px;
    margin: 0px 5px;
}
.src-dest {
    position: absolute;
    height: 60px;
    top: 10px;
    left: 7px;
}
#locationField {
    position: relative;
    margin-left: 30px;
}
#content input {
    width: 100%;
    height: 30px;
    border: none;
    padding-right: 28px;
}
#content input:active, #content input:hover, #content input:focus {
    border: none;
    outline: 0;
    outline-width: 0;
}
#cabdetails {
    z-index: 3;
    background: transparent;
}
#details {
    background: white;
/*    padding: 2px 0;*/
    overflow-y: auto;
}
#details .cab-details {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    position: relative;
    padding-left: 35px;
    background-color: rgba(21, 21, 21, 0.05);
}
#details .cab-details:hover {
    background-color: rgba(255, 255, 255, 0.85);
}
#details .cab-details.mask {
    padding-left: 5px !important;
    border-bottom: none !important;
}
#details .cab-details.all {
    padding-left: 60px;
}
#details .cab-details:last-child {
/*    border: none; */
}
#details .cab-details .cab-image {
    position: absolute;
    left: 5px;
    top: 8px;
}
#details .cab-details .cab-type-image {
    position: absolute;
    left: 34px;
    height: 20px;
    display: none;
    top: 9px;
}
#details .cab-details.all .cab-type-image {
    display: block !important;
}
#details .cab-time {
    float: right;
}
#details p {
    margin: 0;
}
.loading img {
    height: 14px;
    margin-right: 3px;
}
.center-align {
    text-align: center;
}
#details p.cab-desc {
    font-size: 0.85em;
    color: #777;
}
#details .multiplier {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #f0ad4e;
    margin-right: 5px;
}
#services {
    padding: 10px;
    z-index: 9999;
    background-color: #EAE8E7;
}
#title {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 3px 2px 10px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
#title img {
    height: 60px;
    margin: -5px;
}
#action-icons {
    position: absolute;
    bottom: 43px;
    right: 85px;
    font-size: 18px;
}
#action-icons i::before {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #777;
    margin-right: 5px;
    border-radius: 50%;
    background: #eee;
}
#gps {
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 2px 2px 2px 6px;
    background: #efefef;
    border-radius: 50%;
    border: 1px solid #777;
    width: 35px;
    height: 35px;
    cursor: pointer;
    box-shadow: 1px 1px 5px;
    font-size: 25px;
}
#refresh {
    position: absolute;
    right: 30px;
    bottom: 85px;
    padding: 2px 2px 2px 6px;
    background: #efefef;
    border-radius: 50%;
    border: 1px solid #777;
    width: 35px;
    height: 35px;
    cursor: pointer;
    box-shadow: 1px 1px 5px;
    font-size: 25px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.1em 0;
    padding: 0;
}
/*!
 *  Font Awesome 4.3.0
 */
/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
/* makes the font 33% larger relative to the icon container */

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.fa-ul > li {
    position: relative;
}
.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.fa-li.fa-lg {
    left: -1.85714286em;
}
.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.fa-rotate-90 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa-rotate-180 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fa-rotate-270 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.fa-flip-horizontal {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.fa-flip-vertical {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
    filter: none;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-inverse {
    color: #ffffff;
}
.fa-power-off:before {
    content: "\f011";
}
.fa-bars:before {
    content: "\f0c9";
}
.fa-user:before {
    content: "\f007";
}
.fa-crosshairs:before {
    content: "\f05b";
}
.fa-refresh:before {
    content: "\f021";
}
.fa-cog:before {
  content: "\f013";
}
/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}
/* Custom dialog/modal headers */

.dialog-header-error {
    background-color: #d2322d;
}
.dialog-header-wait {
    background-color: #428bca;
}
.dialog-header-notify {
    background-color: #eeeeee;
}
.dialog-header-confirm {
    background-color: #333333;
}
.dialog-header-error span, .dialog-header-error h4, .dialog-header-wait span, .dialog-header-wait h4, .dialog-header-confirm span, .dialog-header-confirm h4 {
    color: #ffffff;
}
/* Ease Display */

.pad {
    padding: 25px;
}
