@media screen and (min-width: 768px) {
	#map-canvas {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 330px;
	    right: 0;
	}
	#content-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 330px;
	    -webkit-box-shadow: 5px -1px 18px -1px rgba(158,155,158,0.82);
		-moz-box-shadow: 5px -1px 18px -1px rgba(158,155,158,0.82);
		box-shadow: 5px -1px 18px -1px rgba(158,155,158,0.82);
		z-index: 1;
	}
	#content {
	    position: relative;
	    width: 100%;
	}
	#cabdetails {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	#details {
	}
	#services {
	}
	.full-page {
	    bottom: 70px;
	    width: 330px;
	    display: flex;
	}
}